<a href="https://colab.research.google.com/github/ShythyaSivadas/git_test/blob/master/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
mydataset={
    'Stud_name':["Nivya","Anu","Manu","Bithu","Diya"],
    'Grade':["A","B","C","A","D"],
    'Percentage':[90,87,77,60,55]
}
myvar=pd.DataFrame(mydataset)
print(myvar)

In [ ]:
import pandas as pd
mydataset={
    'Stud_name':["Nivya","Anu","Manu","Bithu","Diya"],
    'Grade':["A","B","C","A","D"],
    'Percentage':[90,87,77,60,55]
}
myvar=pd.DataFrame(mydataset)
print(myvar.loc[1])

In [ ]:
import pandas as pd
mydataset={
    'Subject':["Python","Datascience","IoT","Java","Project"],
    'Hours':[3,1,2,3,2]
}
myvar=pd.DataFrame(mydataset,index=["Mon","Tue","Wed","Thu","Fri"])
print(myvar)

In [ ]:
import pandas as pd
mydataset={
    'Subject':["Python","DataScience","IoT","Java","Project"],
    'Hours':[3,2,1,2,3]
}
myvar=pd.DataFrame(mydataset,index=["Mon","Tue","Wed","Thu","Fri"])
print(myvar.loc["Fri"])

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.5

In [ ]:
import pandas as pd
A=[1,2,3,4,5,6,7,8]
myvar=pd.Series(A)
print(myvar)

In [ ]:
import pandas as pd
A=[1,2,3,4,5,6,7,8]
myvar=pd.Series(A)
print(myvar[5])

In [ ]:
import pandas as pd
A=[1,2,3,4,5]
myvar=pd.Series(A,index=["A","B","C","D","E"])
print(myvar)

In [ ]:
import pandas as pd
A=[1,2,3,4]
myvar=pd.Series(A,index=["A","B","C","D"])
print(myvar["C"])

In [ ]:
import pandas as pd
a={"Fruits":40,"Vegetables":45,"Nuts":50}
myvar=pd.Series(a)
print(myvar)

In [ ]:
import pandas as pd
a={"Fruits":40,"Vegetables":45,"Nuts":50}
myvar=pd.Series(a,index=["Fruits","Nuts"])
print(myvar)

In [ ]:
import pandas as pd
print("MULTIPLICATION TABLE OF 2")
a=[i for i in range(0,11)]
n=pd.Series(a)
mul=n.multiply(other=2)
print(mul)

In [ ]:
import pandas as pd
print("MULTIPLICATION TABLE OF 3")
a=[i for i in range(0,11)]
n=pd.Series(a)
mul=n.multiply(other=3)
print(mul)

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df.to_string())

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv',header=[1,2,3,4,5])
print(df.to_string())

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
new_df=df.dropna()
print(new_df.to_string())

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
df.dropna(inplace=True)
print(df.to_string())

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df.duplicated())

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
df.corr()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_csv('data.csv')
df.plot()
plt.show()

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df.fillna(130).to_string())

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df.tail())

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
df['Duration']=pd.to_datetime(df['Duration'])
print(df.to_string())